---
import { emailObfuscated } from '../content/site';

interface Props {
  subject?: string;
  class?: string;
}

const { subject, class: className = '' } = Astro.props;
---

<button
  type="button"
  class:list={['js-email-link', className]}
  data-u={emailObfuscated.user}
  data-d={emailObfuscated.domain}
  data-subject={subject}
>
  <slot />
</button>
